* {
   margin:0;
   padding: 0;
   font-family: Questrial, serif;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70px 1fr ;
  }
.navigation {
  padding-left: 25%;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 3%;
}
li {
  float: left;
  display: inline-block;
  padding-left: 1vw;
  color: black;
  font-size: 1vw;
}

.Logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.content1 {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}
.footer1 {
grid-column: 1/3;
grid-row: 3/4;
background-color: #EDF2F4;
}

p {
  float: left;
  padding-top: 0.3%;
  font-size: 1.5vw;
}
a {
    color: black;
}
.languagepicker {
padding-left: 30%;
}
.btn1 {
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    background-color: #EFF1F3;
    color: #0C6291;
    font-size: 1vw;
    padding: 1vw 2vw;
    border: 2px solid #0C6291;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn1:hover {
    background-color: #0C6291;
    color: white;
}
.btn2 {
    position: absolute;
    top: 80%;
    right: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    background-color: #EFF1F3;
    color: #0C6291;
    font-size: 1vw;
    padding: 1vw 2.5vw;
    border: 2px solid #0C6291;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn2:hover {
    background-color: #0C6291;
    color: white;
}
.btn3 {
    position: absolute;
    top: 60%;
    right: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    background-color: #EFF1F3;
    color: #0C6291;
    font-size: 1vw;
    padding: 1vw 2vw;
    border: 2px solid #0C6291;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn3:hover {
    background-color: #0C6291;
    color: white;
}
.btn4 {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    background-color: #EFF1F3;
    color: #0C6291;
    font-size: 1vw;
    padding: 1vw 2vw;
    border: 2px solid #0C6291;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn4:hover {
    background-color: #0C6291;
    color: white;
}
.tekst2 {
  position: absolute;
  top: 40%;
  left: 42%;
}
.tekst1 {
  position: absolute;
  top: 15%;
  left: 42%;
}
h1 {
  font-size: 2vw;
}
h2 {
  font-size: 1vw;
}
